data/cifar10/cifar-10-python.tar.gz
acc.png
cifar10_64batch.7z
cifar10_resnet18_2-5-2019.7z
error.png
forgetting-example-pytorch_cifar.7z
mnist_area_learn.7z
resultsorgetting_stat.npy
results/learnt.npy
__pycache__/dataloaders.cpython-36.pyc
data/cifar10/cifar-10-python.tar.gz
data/cifar10/cifar-10-batches-py/batches.meta
data/cifar10/cifar-10-batches-py/data_batch_1
data/cifar10/cifar-10-batches-py/data_batch_2
data/cifar10/cifar-10-batches-py/data_batch_3
data/cifar10/cifar-10-batches-py/data_batch_4
data/cifar10/cifar-10-batches-py/data_batch_5
data/cifar10/cifar-10-batches-py/test_batch
model/__pycache__/__init__.cpython-36.pyc
model/__pycache__/lenet.cpython-36.pyc
model/__pycache__/resnet.cpython-36.pyc
utils/__pycache__/__init__.cpython-36.pyc
utils/__pycache__/cutout.cpython-36.pyc
